
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditPerson</title>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <script src="~/js/do_function.js"></script>
    <script src="~/js/xm-select.js"></script>
</head>
<body>
    <form style="text-align:center;" class="layui-form">
        <br />
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color:red;">*</span>账号</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" lay-verify="required" id="person_code" placeholder="请输入账号">
                </div>
                <label class="layui-form-label"><span style="color:red;">*</span>姓名</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="person_name" lay-verify="required" placeholder="请输入姓名">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color:red;">*</span>所属公司</label>
                <div class="layui-input-inline">
                    <select name="Corp" id="corpSelect" lay-verify="required" lay-filter="corpSelect" lay-search></select>
                </div>
                <label class="layui-form-label"><span style="color:red;">*</span>所属部门</label>
                <div class="layui-input-inline">
                    <select name="Dept" id="deptSelect" lay-verify="required" lay-filter="deptSelect" lay-search></select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color:red;">*</span>上级岗位</label>
                <div class="layui-input-inline">
                    <div id="xm" class="xm-select-demo"></div>
                </div>
                <label class="layui-form-label"><span style="color:red;">*</span>性别</label>
                <div class="layui-input-inline">
                    <div class="layui-input-inline" id="Status">
                        <input type="radio" name="radioName" value="男" lay-filter="radio" title="男" checked="" class="">
                        <input type="radio" name="radioName" value="女" lay-filter="radio" title="女" class="">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color:red;">*</span>身份证号</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="id_card_number" lay-verify="required|id_card" placeholder="请输入身份证号">
                </div>
                <label class="layui-form-label"><span style="color:red;">*</span>手机号</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="phone" lay-verify="required|phone" placeholder="请输入手机号">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">固话/短号</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="fixed_phone" placeholder="请输入固话/短号">
                </div>
                <label class="layui-form-label">Email</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input"  id="email" placeholder="请输入电子邮箱">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div align="center">
                <button class="layui-btn" lay-submit="" lay-filter="btnCommit">保存</button>
                &nbsp;
                <button class="layui-btn layui-btn-danger" onclick="btnClose()">关闭</button>
            </div>
        </div>
    </form>
    <script>
        var form, layer, xm;
        function GetCorp(form) {
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '@Url.Action("GetCorp", "Public")',
                success: function (res) {
                    if (res.code == "0") {
                        var corp, dept;
                        $.each(res.data, function (index, item) {
                            if (index == 0) {
                                corp = item.CORP_ID;
                                $.ajax({
                                    type: 'post',
                                    dataType: 'json',
                                    url: '@Url.Action("GetDeptByCorp", "Public")',
                                    data: {
                                        corp_id: corp
                                    },
                                    success: function (res) {
                                        if (res.code == "0") {
                                            $.each(res.data, function (index, item) {
                                                if (index == 0) {
                                                    dept = item.DEPT_ID;
                                                    GetPost(dept);
                                                }
                                                $('#deptSelect').append('<option value="' + item.DEPT_ID + '">' + item.DEPT_NAME + '</option>');
                                            });

                                            $("#deptSelect").val(dept);
                                            form.render('select');
                                        } else {
                                            layer.msg(res.msg, {
                                                icon: 5
                                            });
                                        }
                                    },
                                    error: function (res) {
                                        layer.msg("加载部门信息出错了，请联系管理员", {
                                            icon: 5
                                        });
                                    }
                                });
                            }
                            $('#corpSelect').append('<option value="' + item.CORP_ID + '">' + item.CORP_NAME + '</option>');
                        });

                        $("#corpSelect").val(corp);
                        form.render('select');
                        //GetDept(form);
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        });
                    }
                },
                error: function (res) {
                    layer.msg("加载公司信息出错了，请联系管理员", {
                        icon: 5
                    });
                }
            });
        }
         function GetDept(form) {
            document.getElementById("deptSelect").options.length = 0;
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '@Url.Action("GetDeptByCorp", "Public")',
                data: {
                    corp_id: $('select[name="Corp"] option:selected').val()
                },
                success: function (res) {
                    if (res.code == "0") {
                        var depts;
                        $.each(res.data, function (index, item) {
                            if (index == 0) {
                                depts = item.DEPT_ID;
                                GetPost(depts);
                            }
                            $('#deptSelect').append('<option value="' + item.DEPT_ID + '">' + item.DEPT_NAME + '</option>');
                        });

                        $("#deptSelect").val(depts);
                        form.render('select');
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        });
                    }
                },
                error: function (res) {
                    layer.msg("加载部门信息出错了，请联系管理员", {
                        icon: 5
                    });
                }
            });
        }
        function GetPost(dept_id) {
           $.ajax({
                type: 'post',
                dataType: 'json',
                url: '@Url.Action("GetPostByDeptToTree", "Posts")',
                data: { dept_id: dept_id },
               success: function (res) {
                   if (res.code == "0") {
                       xm = xmSelect.render({
                           el: '#xm',
                           data: res.data,
                           //显示为text模式
                           model: { label: { type: 'text' } },
                           //单选模式
                           radio: true,
                           //选中关闭
                           clickClose: true,
                           //树
                           tree: {
                               show: true,
                               //非严格模式
                               strict: false,
                               //默认展开节点
                               expandedKeys: [-1],
                           },
                           //展开所有节点
                           expandedKeys: true
                       });
                    }
               }, error: function () {
                    layer.msg("接口出错，请联系管理员", { icon: 5 });
                }
            });
        }

        layui.use(['form'], function () {
             form = layui.form , layer = layui.layer;
            form.render();
            form.verify({
                phone: [/^1[3|4|5|7|8]\d{9}$/, '手机必须11位，只能是数字！'],
                id_card: [/(^\d{15}$)|(^\d{17}(x|X|\d)$)/, "请输入正确的身份证号"]
            });

            GetCorp(form);
            //监听公司下拉框变更
            form.on('select(corpSelect)', function (data) {
                GetDept(form);
            });
            //监听部门下拉框变更
            form.on('select(deptSelect)', function (data) {
                GetPost(data.value);
            });

            //监听提交
             form.on("submit(btnCommit)", function (data) {
                 var person_code = $("#person_code").val();
                 var person_name = $("#person_name").val();
                 var dept_id = $('select[name="Dept"] option:selected').val();
                 var post_id = xm.getValue('valueStr');
                 var sex = $('#Status input[name="radioName"]:checked ').val();
                 var id_card_number = $("#id_card_number").val();
                 var phone = $("#phone").val();
                 var fixed_phone = $("#fixed_phone").val();
                 var email = $("#email").val();
                var status = '@ViewBag.status';
                var url = status == "add" ? '@Url.Action("Insert","Person")' : '@Url.Action("Modify", "Person")';
                var data = status == "add" ?
                    {
                        person_code: person_code, person_name: person_name, dept_id: dept_id, post_id: post_id, sex: sex, id_card_number: id_card_number, phone: phone, fixed_phone: fixed_phone, email: email
                    }
                    :
                    {
                        person_code: person_code, person_name: person_name, dept_id: dept_id, post_id: post_id, sex: sex, id_card_number: id_card_number, phone: phone, fixed_phone: fixed_phone, email: email, person_id: '@ViewBag.person_id'
                    };
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    url: url,
                    data: data,
                    success: function (res) {
                        if (res.code == "200") {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            parent.layer.msg("保存成功", {
                                icon: 6
                            });
                            parent.Refresh();
                            return false;
                        } else {
                            layer.msg(res.msg, { icon: 5 });
                            return false;
                        }
                    },
                    error: function () {
                        layer.msg("接口出错，请联系管理员", { icon: 5 });
                        return false;
                    }
                });
                return false;
            });
        });
        function btnClose() {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }

        $(document).ready(function () {
            if ('@ViewBag.status' == "add") {
                return;
            }
            //不延时，岗位树无法选中，会报找不到setValue
            setTimeout(function () {
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("GetPersonByID", "Person")',
                    data: { person_id: '@ViewBag.person_id' },
                    success: function (res) {
                        if (res.code == "0") {
                            $("#person_code").val(res.data[0].PERSON_CODE);
                            $("#person_name").val(res.data[0].PERSON_NAME);
                            $("#phone").val(res.data[0].MOBILE_PHONE);
                            $("#fixed_phone").val(res.data[0].FIXED_PHONE);
                            $("#email").val(res.data[0].EMAIL);
                            $("#id_card_number").val(res.data[0].ID_CARD_NUMBER);
                            $("input[name=radioName][value='" + res.data[0].SEX + "']").prop("checked", "true");
                            //console.log(xm);
                            xm.setValue([res.data[0].POST_ID]);
                            $("#corpSelect option[value='" + res.data[0].CORP_ID + "']").prop("selected", true);
                            $("#deptSelect option[value='" + res.data[0].DEPT_ID + "']").prop("selected", true);
                            form.render('select');
                            form.render();
                        }
                    }, error: function (res) {
                        layer.msg("接口出错，请联系管理员", { icon: 5 });
                    }
                });
            }, 100);
        });
    </script>
</body>
</html>
