
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User</title>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/button.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <script src="~/js/do_function.js"></script>
    <script src="~/js/xm-select.js"></script>
</head>
<body>
    <form class="layui-form">
        <div>
            <br />
            <div id="button" style="text-align:center;">
                <div class="layui-inline"></div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="Corp" id="corpSelect" lay-verify="" lay-filter="corpSelect" lay-search></select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="Dept" id="deptSelect" lay-verify="" lay-filter="deptSelect" lay-search></select>
                    </div>
                    <div class="layui-input-inline">
                        <div id="xm" class="xm-select-demo" style="width:200px;"></div>
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" id="user_name" lay-verify="" placeholder="请输入账号或姓名" autocomplete="off" class="layui-input" />
                    </div>
                    <div class="layui-input-inline" id="Status">
                        <input type="radio" name="radioName" value="0" lay-filter="radio" title="有效" checked="" class="">
                        <input type="radio" name="radioName" value="1" lay-filter="radio" title="失效" class="">
                    </div>
                </div>
                <br /><br />
            </div>
            <table id="table1" lay-filter="table1"></table>
        </div>
    </form>
    <script>
        var xm;
        function GetCorp(form) {
            var corp_id = "";
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '@Url.Action("GetCorp", "Public")',
                success: function (res) {
                    if (res.code == "0") {
                        $.each(res.data, function (index, item) {
                            if (index == 0) {
                                corp_id = '@ViewBag.CORP_ID' == "" ? item.CORP_ID:'@ViewBag.CORP_ID';
                                $.ajax({
                                    type: 'post',
                                    dataType: 'json',
                                    url: '@Url.Action("GetDeptByCorp", "Public")',
                                    data: {
                                        corp_id: corp_id
                                    },
                                    success: function (res) {
                                        if (res.code == "0") {
                                            var dept_id = "";
                                            $.each(res.data, function (index, item) {
                                                dept_id = '@ViewBag.DEPT_ID' == "" ? item.DEPT_ID:'@ViewBag.DEPT_ID';
                                                $('#deptSelect').append('<option value="' + item.DEPT_ID + '">' + item.DEPT_NAME + '</option>');
                                            });
                                            GetPost(dept_id);//获取部门
                                            $("#deptSelect").val(dept_id);
                                            form.render('select');
                                        } else {
                                            layer.msg(res.msg, {
                                                icon: 5
                                            });
                                        }
                                    },
                                    error: function (res) {
                                        layer.msg("加载部门信息出错了，请联系管理员", {
                                            icon: 5
                                        });
                                    }
                                });
                            }
                            $('#corpSelect').append('<option value="' + item.CORP_ID + '">' + item.CORP_NAME + '</option>');
                        });

                        $("#corpSelect").val(corp_id);
                        form.render('select');
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        });
                    }
                },
                error: function (res) {
                    layer.msg("加载公司信息出错了，请联系管理员", {
                        icon: 5
                    });
                }
            });
        }
        //获取部门
        function GetDept(form) {
            document.getElementById("deptSelect").options.length = 0;
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '@Url.Action("GetDeptByCorp", "Public")',
                data: {
                    corp_id: $('select[name="Corp"] option:selected').val()
                },
                success: function (res) {
                    //var dept_id = "";
                    if (res.code == "0") {
                        $.each(res.data, function (index, item) {
                            //dept_id = '@ViewBag.DEPT_ID' == "" ? item.DEPT_ID : '@ViewBag.DEPT_ID';
                            $('#deptSelect').append('<option value="' + item.DEPT_ID + '">' + item.DEPT_NAME + '</option>');
                        });
                        //$("#deptSelect").val(dept_id);
                        form.render('select');
                        GetPost($('select[name="Dept"] option:selected').val());
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        });
                    }
                },
                error: function (res) {
                    layer.msg("加载部门信息出错了，请联系管理员", {
                        icon: 5
                    });
                }
            });
        }
        //岗位
        function GetPost(dept_id) {
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '@Url.Action("GetPostByDeptToTree", "Posts")',
                data: { dept_id: dept_id },
                success: function (res) {
                    if (res.code == "0") {
                        var post_id = "";
                        $.each(res.data, function (index, item) {
                            if (index == 0) {
                                post_id = '@ViewBag.POST_ID' == "" ? item.POST_ID : '@ViewBag.POST_ID';
                            }
                            return;
                        });
                        xm = xmSelect.render({
                            el: '#xm',
                            data: res.data,
                            //显示为text模式
                            model: { label: { type: 'text' } },
                            //单选模式
                            radio: true,
                            //选中关闭
                            clickClose: true,
                            //树
                            tree: {
                                show: true,
                                //非严格模式
                                strict: false,
                                //默认展开节点
                                expandedKeys: [-1],
                            },
                            //展开所有节点
                            expandedKeys: true
                        });
                        xm.setValue(post_id);
                    }
                }, error: function () {
                    layer.msg("接口出错，请联系管理员", { icon: 5 });
                }
            });
        }
        var table, ins, form, layer;
        layui.use(['table', 'form'], function () {
            table = layui.table, form = layui.form, layer = layui.layer;
            form.render();

            GetCorp(form);

            //监听公司下拉框变更
            form.on('select(corpSelect)', function (data) {
                GetDept(form);
            });
            //监听部门下拉框变更
            form.on('select(deptSelect)', function (data) {
                GetPost(data.value);
            });
            //监听单选框变更
            form.on('radio(radio)', function (data) {
                if (data.value == "0") {
                    $("#btnEnable").css({ "display": "none" });
                    $("#btnFailure").css({ "display": "" });
                } else {
                    $("#btnEnable").css({ "display": "" });
                    $("#btnFailure").css({ "display": "none" });
                }
                Refresh();
            });
            ins = table.render({
                elem: '#table1'
                , height: document.documentElement.clientHeight - 130
                , cellMinWidth: 120
                , url: '@Url.Action("GetUserByCorpDeptPost", "User")',
                where: {
                    corp_id: $('select[name="Corp"] option:selected').val(),
                    dept_id: $('select[name="Dept"] option:selected').val(),
                    post_id: '@ViewBag.POST_ID',
                    status: '0',
                    user_name: ''
                }, method: 'Post'
                , page: true //开启分页
                , limit: 20
                , limits: [20,30,40, 50]
                , cols: [[ //表头
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'USER_ID', title: '用户ID', hide: true }
                    , { field: 'USER_CODE', title: '账号', sort: true, width: 120 }
                    , { field: 'USER_NAME', title: '姓名', sort: true, width: 150 }
                    , { field: 'SEX', title: '性别', sort: true, width: 150 }
                    , { field: 'MOBILE_PHONE', title: '手机号', sort: true, width: 150 }
                    , { field: 'FIXED_PHONE', title: '短号', sort: true, width: 150 }
                    , { field: 'EMAIL', title: '电子邮箱', sort: true, width: 130 }
                    , { field: 'CORP_NAME', title: '所属公司名称', sort: true, width: 150 }
                    , { field: 'DEPT_NAME', title: '所属部门名称', sort: true, width: 150 }
                    , { field: 'POST_NAME', title: '所属岗位名称', sort: true, width: 150 }
                    , { field: 'STATUS', title: '状态', align: 'center', width: 100 }
                ]], loading: true,
                done: function () {
                    var val = $('#Status input[name="radioName"]:checked ').val();
                    if (val == "0") {
                        $("#btnEnable").css({ "display": "none" });
                        $("#btnFailure").css({ "display": "" });
                    } else {
                        $("#btnEnable").css({ "display": "" });
                        $("#btnFailure").css({ "display": "none" });
                    }
                }
            });
        });

        function Refresh() {
            table.reload('table1', {
                url: '@Url.Action("GetUserByCorpDeptPost", "User")',
                where: {
                    corp_id: $('select[name="Corp"] option:selected').val(),
                    dept_id: $('select[name="Dept"] option:selected').val(),
                    post_id: xm.getValue('valueStr'),
                    status: $('#Status input[name="radioName"]:checked ').val(),
                    user_name: $("#user_name").val()
                },
                method: 'Post',
                page: {
                    curr: 1
                }
            });
        }

        //新增
        function btnAdd() {
            win_show('@Url.Action("EditUser", "User")' + '?status=add&Rowid=', layer, '新增 - 用户', 1000, 650);
        }
        //编辑
        function btnEdit() {
            var checkStatus = table.checkStatus('table1');
            if (checkStatus.data.length > 0) {
                if (checkStatus.data.length > 1) {
                    layer.msg("编辑只能勾选一行数据", { icon: 5 }); return;
                }
                if (checkStatus.data[0].STATUS == "无效") {
                    layer.msg("无效状态的数据无法编辑", { icon: 5 }); return;
                }
                win_show('@Url.Action("EditUser", "User")' + '?status=update&Rowid=' + checkStatus.data[0].PERSON_ID, layer, '编辑 - 用户', 1000, 650);
            } else {
                layer.msg('请先勾选数据', {
                    icon: 5
                });
            }
        }
         //启用
        function btnEnable() {
            var checkStatus = table.checkStatus('table1');
            if (checkStatus.data.length > 0) {
                var obj =[];
                layer.confirm('是否启用？', { btn: ['是', '否'], icon: 3, title: '提示' }, function (index) {
                    for (var i = 0; i < checkStatus.data.length; i++) {
                        obj.push(checkStatus.data[i].USER_ID);
                    }
                    $.ajax({
                        type: 'post',
                        dataType: 'json',
                        traditional: true,
                        url: '@Url.Action("EnableStatusForUser", "User")',
                        data: {
                            id: obj
                        },
                        success: function (res) {
                            if (res.code == "200") {
                                layer.msg("启用成功", { icon: 6 });
                                Refresh();
                            } else {
                                layer.msg(res.msg, { icon: 5 });
                            }
                        },
                        error: function () {
                            layer.msg("接口出错，请联系管理员", { icon: 5 });
                        }
                    });
                });
            } else {
                layer.msg('请先勾选数据', {
                    icon: 5
                });
            }
        }
        //失效
        function btnFailure() {
            var checkStatus = table.checkStatus('table1');
            if (checkStatus.data.length > 0) {
                var obj =[];
                layer.confirm('是否失效？', { btn: ['是', '否'], icon: 3, title: '提示' }, function (index) {
                    for (var i = 0; i < checkStatus.data.length; i++) {
                        obj.push(checkStatus.data[i].USER_ID);
                    }
                    $.ajax({
                        type: 'post',
                        dataType: 'json',
                        traditional: true,
                        url: '@Url.Action("FailureStatusForUser", "User")',
                        data: {
                            id: obj
                        },
                        success: function (res) {
                            if (res.code == "200") {
                                layer.msg(res.msg, { icon: 6 });
                                Refresh();
                            } else {
                                layer.msg(res.msg, { icon: 5 });
                            }
                        },
                        error: function () {
                            layer.msg("接口出错，请联系管理员", { icon: 5 });
                        }
                    });
                });
            } else {
                layer.msg('请先勾选数据', {
                    icon: 5
                });
            }
        }
        function btnAllotRole() {
            var checkStatus = table.checkStatus('table1');
            if (checkStatus.data.length > 0) {
                if (checkStatus.data.length > 1) {
                    layer.msg("每次只能为一个用户分配角色", { icon: 5 }); return;
                }
                if (checkStatus.data[0].STATUS == "无效") {
                    layer.msg("无效状态的数据无法分配用户", { icon: 5 }); return;
                }
                win_show('@Url.Action("AllotRoleForUser", "User")' + '?status=update&Rowid=' + checkStatus.data[0].USER_ID, layer, '分配 - 角色', 800, 500);
            } else {
                layer.msg('请先勾选数据', {
                    icon: 5
                });
            }
        }
        function btnResetPsw() {
            var checkStatus = table.checkStatus('table1');
            if (checkStatus.data.length > 0) {
                var obj =[];
                layer.confirm('是否重置密码？', { btn: ['是', '否'], icon: 3, title: '提示' }, function (index) {
                    for (var i = 0; i < checkStatus.data.length; i++) {
                        obj.push(checkStatus.data[i].USER_ID);
                    }
                    $.ajax({
                        type: 'post',
                        dataType: 'json',
                        traditional: true,
                        url: '@Url.Action("ResetUserPassword", "User")',
                        data: {
                            id: obj
                        },
                        success: function (res) {
                            if (res.code == "200") {
                                layer.msg(res.msg, { icon: 6 });
                                Refresh();
                            } else {
                                layer.msg(res.msg, { icon: 5 });
                            }
                        },
                        error: function () {
                            layer.msg("接口出错，请联系管理员", { icon: 5 });
                        }
                    });
                });
            } else {
                layer.msg('请先勾选数据', {
                    icon: 5
                });
            }
        }
    </script>
</body>
</html>
