@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = device - width" />
    <title>APP_CORP_BANK_EDIT</title>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
</head>
<body>
    <form style="text-align:center;" class="layui-form">
        <br />
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color:red;">*</span>所属公司</label>
                <div class="layui-input-inline">
                    <select name="Corp" id="corpSelect" lay-verify="required" lay-filter="corpSelect" lay-search></select>
                </div>
                <label class="layui-form-label">开户行省份</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="bank_province" placeholder="开户行省份">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">开户行城市</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="bank_city" placeholder="开户行城市">
                </div>
                <label class="layui-form-label">开户银行</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="bank_name" placeholder="开户银行">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span style="color:red;">*</span>银行帐号</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" lay-verify="required" id="bank_account" placeholder="银行帐号">
                </div>
                <label class="layui-form-label">行号</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="bank_no" placeholder="行号">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-inline">
                    <input type="text" id="start_date"  placeholder="yyyy-MM-dd"  class="layui-input">
                </div>
                <label class="layui-form-label">结束时间</label>
                <div class="layui-input-inline">
                    <input type="text" id="end_date"  placeholder="yyyy-MM-dd" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea  class="layui-textarea" id="note" placeholder="备注"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div align="center">
                <button class="layui-btn" id="btnCommit" lay-submit="" lay-filter="btnCommit">保存</button>
                &nbsp;
                <button class="layui-btn layui-btn-danger" onclick="btnClose()">关闭</button>
            </div>
        </div>
    </form>
    <script>
        function GetCorp(form) {
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '@Url.Action("GetCorp", "Public")',
                success: function (res) {
                    if (res.code == "0") {
                        $.each(res.data, function (index, item) {
                            $('#corpSelect').append('<option value="' + item.CORP_ID + '">' + item.CORP_NAME + '</option>');
                        });

                        $("#corpSelect").val('@ViewBag.CORP_ID');
                        form.render('select');
                    } else {
                        layer.msg("加载公司信息出错了，请联系管理员", {
                            icon: 5
                        });
                    }
                },
                error: function (res) {
                    layer.msg("加载公司信息出错了，请联系管理员", {
                        icon: 5
                    });
                }
            });
        }
        var layer, form,laydate;
        layui.use(["layer", "form", "laydate"], function () {
            layer = layui.layer, form = layui.form, laydate = layui.laydate;
            laydate.render({
                elem: '#start_date'
            });
            laydate.render({
                elem: '#end_date'
            });
            form.render();
            GetCorp(form);
            form.on("submit(btnCommit)", function (data) {
                var corp_id = $('select[name="Corp"] option:selected').val();
                var bank_province = $("#bank_province").val();
                var bank_city = $("#bank_city").val();
                var bank_name = $("#bank_name").val();
                var bank_account = $("#bank_account").val();
                var bank_no = $("#bank_no").val();
                var start_date = $("#start_date").val();
                var end_date = $("#end_date").val();
                var note = $("#note").val();
                var status = '@ViewBag.status';
                var url = status == "add" ? '@Url.Action("Insert","APP_CORP_BANK")' : '@Url.Action("Modify","APP_CORP_BANK")';
                var data = status == "add" ?
                    {
                        corp_bank_id: '@ViewBag.corp_bank_id'
                        , corp_id: corp_id
                        , bank_province: bank_province
                        , bank_city: bank_city
                        , bank_name: bank_name
                        , bank_account: bank_account
                        , bank_no: bank_no
                        , start_date: start_date
                        , end_date: end_date
                        , note: note
                    }
                    :
                    {
                        corp_bank_id: '@ViewBag.corp_bank_id'
                        , corp_id: corp_id
                        , bank_province: bank_province
                        , bank_city: bank_city
                        , bank_name: bank_name
                        , bank_account: bank_account
                        , bank_no: bank_no
                        , start_date: start_date
                        , end_date: end_date
                        , note: note

                    };
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    url: url,
                    data: data,
                    success: function (res) {
                        if (res.code == 200) {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            parent.layer.msg(res.msg, {
                                icon: 6
                            });
                            parent.Refresh();
                            return false;
                        } else {
                            layer.msg(res.msg, { icon: 5 });
                            return false;
                        }
                    },
                    error: function () {
                        layer.msg("接口出错，请联系管理员", { icon: 5 });
                        return false;
                    }
                });
                return false;
            });
        });
        function btnClose() {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }


        $(document).ready(function () {
            if ('@ViewBag.status' == "add") { return; }
            $.ajax({
                type: 'get',
                dataType: 'json',
                url: '@Url.Action("GetAPP_CORP_BANKById","APP_CORP_BANK")',
                data: { corp_bank_id: '@ViewBag.corp_bank_id' },
                success: function (res) {
                    if (res.code == 0) {
                        $("#corp_id").val(res.data[0].CORP_ID);
                        $("#bank_province").val(res.data[0].BANK_PROVINCE);
                        $("#bank_city").val(res.data[0].BANK_CITY);
                        $("#bank_name").val(res.data[0].BANK_NAME);
                        $("#bank_account").val(res.data[0].BANK_ACCOUNT);
                        $("#bank_no").val(res.data[0].BANK_NO);
                        $("#start_date").val(res.data[0].START_DATE);
                        $("#end_date").val(res.data[0].END_DATE);
                        $("#note").val(res.data[0].NOTE);
                    }
                }, error: function (res) {
                    layer.msg("接口出错，请联系管理员", { icon: 5 });
                }
            });
        });
    </script>
</body>
</html>